body{
font-family: sans-serif;
font-size: 200%;
}

p {
    text-decoration: line-through;
}

h1{
color: #4ac925;
text-transform: uppercase;
}

h2{
text-decoration: underline;
}

h1,h2{
background-color: #888888;
}

p,h2{
color: #394611;
}

#intro{
border: 1px solid black;
}

.spotlight{
background-color: #fefe22;
}

